

<footer class="footer">
  <div class="footer-columns">
      <div class="footer-column">
          <p class="fs-6">Ayuntamiento de Pina de Montalgrao</p>
      </div>
      <div class="footer-column">
         
          <ul class="footer-links">
              <li><a class="fs-6" href="/src/index.html">Inicio</a></li>
              <li><a class="fs-6" href="/src/concursantes.html">Concursantes</a></li>
              <li><a class="fs-6" href="/src/endetalle.html">En detalle</a></li>
              <li><a class="fs-6" href="/src/Inscripciones.html">Inscripciones</a></li>
          </ul>
      </div>
      <div class="footer-column">
          <ul class="footer-social justify-content-center">
              <li><a href="#" class="social-link" title="Facebook"><i class="fab fa-facebook"></i></a></li>
              <li><a href="#" class="social-link" title="Twitter"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#" class="social-link" title="Instagram"><i class="fab fa-instagram"></i></a></li>
              <li><a href="#" class="social-link" title="Youtube"><i class="fab fa-youtube"></i></a></li>
          </ul>
      </div>
  </div>
</footer>
