<header class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <!-- Logo a la izquierda -->
    <a class="navbar-brand" href="/src/index.html"> <img src="./assets/images/logo_PinaMontalgrao.png" alt="Logo Pina de Montalgrao"></a>

    <!-- Botón para mostrar el menú en pantallas pequeñas -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navegación a la derecha -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item  text-dark">
          <a class="nav-link" href="/src/index.html">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/src/concursantes.html">Concursantes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/src/endetalle.html">En detalle</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/src/Inscripciones.html">Instrucciones</a>
        </li>
      </ul>
    </div>
  </div>
</header>

